@using System.Text.Json
@using OXXOMania.Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var jsonUsr = HttpContextAccessor.HttpContext.Session.GetString("Usr");
    Usuario usr = !string.IsNullOrEmpty(jsonUsr) ? JsonSerializer.Deserialize<Usuario>(jsonUsr) : null;

    string avatarHead = "~/images/objetos/f_1.png"; // Default
    var headOptions = new Dictionary<int, string>()
    {
        {6, "~/images/objetos/f_1.png"},
        {7, "~/images/objetos/f_2.png"},
        {8, "~/images/objetos/f_3.png"},
        {9, "~/images/objetos/f_4.png"}
    };

    if (usr != null && usr.id_usuario > 0)
    {
        var db = Context.RequestServices.GetService(typeof(OXXOMania.Model.DataBaseContext)) as OXXOMania.Model.DataBaseContext;
        int cabeza = db.AgarrarCabeza(usr.id_usuario);
        if (headOptions.ContainsKey(cabeza))
        {
            avatarHead = Url.Content(headOptions[cabeza]);
        }
        <script>
            console.log("DEBUG - id_usuario: @usr.id_usuario");
            console.log("DEBUG - cabeza: @cabeza");
            console.log("DEBUG - avatar path: '@avatarHead'");
        </script>
    }
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - OXXOMANIA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <div class="sidebar">
        <div class="logo-container">
            <img src="https://1000marcas.net/wp-content/uploads/2022/02/OXXO-Logo.png" alt="OXXO Logo" class="logo" />
        </div>
        
        <nav>
            <ul class="nav-list">
                <li class="nav-item @(Context.Request.Path == "/Puntajes" ? "selected" : "")"><a asp-page="/Podium"><i class="fa fa-chart-bar"></i> Podio</a></li>
                 <li class="nav-item @(Context.Request.Path == "/DashboardLider" ? "selected" : "")"><a asp-page="/DashboardLider"><i class="fa fa-chart-bar"></i> Dashboard</a></li>
                <li class="nav-item @(Context.Request.Path == "/Perfil" ? "selected" : "")"><a asp-page="/Personalizacion"><i class="fa fa-user"></i> Mi perfil</a></li>
                <li class="nav-item @(Context.Request.Path == "/Juego" ? "selected" : "")"><a asp-page="/Juego"><i class="fa fa-gamepad"></i> Juego</a></li>
                <li class="nav-item @(Context.Request.Path == "/Reconocimientos" ? "selected" : "")"><a asp-page="/Reconocimientos"><i class="fa fa-gamepad"></i> Reconocimientos</a></li>
                @if (usr.id_asesor == 0)
                    {
                        <li class="nav-item @(Context.Request.Path == "/VistaAsesor" ? "selected" : "")"><a asp-page="/VistaAsesor"><i class="fa fa-cog"></i> Vista Asesor </a></li>
                    }
                <li class="nav-item @(Context.Request.Path == "/Index" ? "selected" : "")"><a asp-page="/Index"><i class="fa fa-home"></i> Salir de sesión</search></del></a></li>
            </ul>
        </nav>
    </div>

    <div class="main-content">
        @RenderBody()
    </div>

    <div class="topbar d-flex align-items-center justify-content-between" style="padding-left: 240px; padding-right: 30px;">
        <div class="toptext">
            OXXOMANIA
        </div>
        <div class="topusuario">
            <li class="nav-user @(Context.Request.Path == "/Perfil" ? "selected" : "")" style="list-style: none;">
                <a class="topusuario" asp-page="/Personalizacion" style="display: flex; align-items: center; gap: 10px;">
                    <img src="@avatarHead" height="70px" style="margin-top: 30px;" />
                    @usr.nombre
                </a>
            </li>
        </div>
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
