<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - OXXOMANIA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <div class="sidebar">
        <div class="logo-container">
            <img src="https://1000marcas.net/wp-content/uploads/2022/02/OXXO-Logo.png" alt="OXXO Logo" class="logo" />
        </div>
        <nav>
            <ul class="nav-list">
                <li class="nav-item @(Context.Request.Path == "/Index" ? "selected" : "")"><a asp-page="/Index"><i class="fa fa-home"></i> Inicio</a></li>
                <li class="nav-item @(Context.Request.Path == "/Puntajes" ? "selected" : "")"><a asp-page="/Podium"><i class="fa fa-chart-bar"></i> Podium</a></li>
                <li class="nav-item @(Context.Request.Path == "/Perfil" ? "selected" : "")"><a asp-page="/Personalizacion"><i class="fa fa-user"></i> Mi perfil</a></li>
                <li class="nav-item @(Context.Request.Path == "/Juego" ? "selected" : "")"><a asp-page="/Juego"><i class="fa fa-gamepad"></i> Juego</a></li>
                <li class="nav-item @(Context.Request.Path == "/VistaAsesor" ? "selected" : "")"><a asp-page="/VistaAsesor"><i class="fa fa-cog"></i> VistaAsesor </a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        @RenderBody()
    </div>
    <div class="topbar">
        <div class="toptext">
            <li class="nav-user @(Context.Request.Path == "/Perfil" ? "selected" : "")"><a class="toptext" asp-page="/Personalizacion">
            <img src="~/images/objetos/f_1.png" height="70px" style="margin-top: 15px;">
            Marco
            </a></li>
        </div>
    </div>
    @RenderSection("Scripts", required: false)

</body>
</html>
