@page
@using System.Text.Json
@using OXXOMania.Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model DashboardLiderModel
@{
    ViewData["Title"] = "VistaAsesor";
    Layout = "_Layout";

    var jsonUsr = HttpContextAccessor.HttpContext.Session.GetString("Usr");
    Usuario usr = !string.IsNullOrEmpty(jsonUsr) ? JsonSerializer.Deserialize<Usuario>(jsonUsr) : null;

    string link = $"https://lookerstudio.google.com/embed/u/0/reporting/389a889c-cf79-4e5f-a2d2-0f52821a9f98/page/YzpLF?params=%7B%22asesor_param%22:{usr.id_usuario}%7D";
    string link2 = $"https://lookerstudio.google.com/embed/reporting/812b1d47-f541-49ab-8853-9a69609edf12/page/YzpLF?params=%7B%22asesor_param%22:{usr.id_usuario}%7D";
}
<div class="content-wrapper" style="padding-left: 250px; padding-bottom: 100px; padding-top: 50px">
    <div class="row">
    <div class="col-md-3 d-flex flex-column gap-3">
        <div class="dashboard-card stat-card">
        <div class="dashboard-title">Puntos por Minijuego</div>
            <iframe width="100%" height="200" src="https://lookerstudio.google.com/embed/reporting/3d56dbba-0b3b-41ea-a22c-1313f1d32e3c/page/ucXNF" frameborder="0"></iframe>

        </div>
        <div class="dashboard-card stat-card">
            <iframe width="250" height="200" src="https://lookerstudio.google.com/embed/reporting/4a7d10c5-d1a4-48cd-a4ee-6ff774ef4b6c/page/fGYNF" frameborder="0"></iframe>

        </div>
        <div class="dashboard-card stat-card">
        <div class="dashboard-title">Reportes Nuevos</div>
        <div class="stat-value">67+</div>
        </div>
    </div>

    <div class="col-md-9 d-flex flex-column gap-4">
        <div class="d-flex flex-wrap gap-4">
            <div class="dashboard-card flex-grow-1" style="flex: 3; align-items: center; ">
                <h5>info</h5>
            </div>
            <div class="dashboard-card" style="flex: 1; min-width: 260px; align-items: center;">
                <iframe width="250" height="200" src="https://lookerstudio.google.com/embed/reporting/75a47701-15ed-4cbd-848b-c211e02ccd1e/page/K2XNF" frameborder="0"></iframe>
            </div>
        </div>

        <div class="d-flex flex-wrap gap-4">
        <div class="dashboard-card flex-grow-1" style="flex: 3;">
            <div class="dashboard-title">Horarios de tus Empleados</div>
        <table class="table w-100">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Horario Entrada</th>
                    <th scope="col">Horario Salida</th>
                    <th scope="col">Días</th>
                </tr>
            </thead>
                <tbody>
                    @if (Model.listaEmpleados != null && Model.listaEmpleados.Count > 0)
                    {
                        @for (int i = 0; i < Model.listaEmpleados.Count; i++)
                        {
                          var empleado = Model.listaEmpleados[i];
                          <tr>
                            <td class="align-middle">@empleado.nombre_empleado</td>
                            <td class="align-middle">@empleado.apellido_empleado</td>
                            <td class="align-middle">@empleado.horario_entrada</td>
                            <td class="align-middle">@empleado.horario_salida</td>
                            <td class="align-middle">@empleado.dias_trabajo</td>
                         </tr>
                        }
                    }
                        else
                        {
                            <tr>
                                <td colspan="6" class="text-center">No hay empleados para mostrar</td>
                            </tr>
                        }
                </tbody>
        </table>
        </div>

        <div class="dashboard-card" style="flex: 1; min-width: 260px;">
            <div class="dashboard-title">Monedas por Minijuego</div>
            <iframe width="100%" height="250" 
            src="https://lookerstudio.google.com/embed/reporting/d3b15478-4adb-4fb7-a40b-3b79f58879f8/page/HFONF" 
            frameborder="0" style="border:0" 
            allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
        </iframe>
        </div>
        </div>
    </div>
    </div>

</div>