@page
@using System.Text.Json
@using OXXOMania.Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model ReconocimientosModel
@{
    ViewData["Title"] = "Roconocimientos";
    Layout = "_Layout";

    var jsonUsr = HttpContextAccessor.HttpContext.Session.GetString("Usr");
    Usuario usr = !string.IsNullOrEmpty(jsonUsr) ? JsonSerializer.Deserialize<Usuario>(jsonUsr) : null;

    string avatarHead = "~/images/objetos/f_1.png"; 
    var headOptions = new Dictionary<int, string>()
    {
        {6, "~/images/objetos/f_1.png"},
        {7, "~/images/objetos/f_2.png"},
        {8, "~/images/objetos/f_3.png"},
        {9, "~/images/objetos/f_4.png"}
    };
    
}

<div style="padding-top: 80px; padding-left: 250px; padding-bottom: 50px;">

    <div class="text-center mb-3 mt-5">
        <h1 class="titulo-mural">Mural de reconocimientos</h1>
        <p class="texto-desc">Envía reconocimientos a otros y visualiza tus reconocimientos.</p>
    </div>
    

    <div class="row">
        <div class="col">
            <div class="div-whitebox border rounded-5 shadow">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Selecciona una persona</label>
                        <select class="form-select form-select-sm" aria-label="Small select example" asp-for="id_destinatario">
                            <option selected disabled>---</option>
                            @foreach (var destinatario in Model.ListaDestinatarios)
                            {
                                <option value="@destinatario.id_usuario">
                                    @destinatario.usuario - @destinatario.nombre @destinatario.apellido
                                </option>
                            }
                        </select>
                        <span asp-validation-for="id_destinatario" class="text-danger small"></span>
    
                    </div>
                    
                    <div class="mb-3 text-center">
                        <label>
                            <input type="radio" asp-for="tipo" value="Excelencia" class="mx-3" hidden/>
                            <img src="~/images/r_logo/excelencia.png" alt="Excelencia" width="100" class="img-thumbnail reconocimiento-img" />
                            <div class="text-center">Excelencia</div>
                        </label>
                        <label>
                            <input type="radio" asp-for="tipo" value="Trabajo en Equipo" class="mx-3" hidden/>
                            <img src="~/images/r_logo/trabajoenequipo.png" alt="Trabajo en Equipo" width="100" class="img-thumbnail reconocimiento-img" />
                            <div class="text-center">Trabajo en Equipo</div>
                        </label>
                        <label>
                            <input type="radio" asp-for="tipo" value="Compromiso" class="mx-3" hidden/>
                            <img src="~/images/r_logo/compromiso.png" alt="Compromiso" width="100" class="img-thumbnail reconocimiento-img" />
                            <div class="text-center">Compromiso</div>
                        </label>
                        <label>
                            <input type="radio" asp-for="tipo" value="Responsabilidad" class="mx-3" hidden/>
                            <img src="~/images/r_logo/responsabilidad.png" alt="Responsabilidad" width="100" class="img-thumbnail reconocimiento-img" />
                            <div class="text-center">Responsabilidad</div>
                        </label>
                        <br/>
                        <span asp-validation-for="tipo" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <textarea class="form-control" id="descripcion" rows="3" asp-for="descripcion"></textarea>
                        <span asp-validation-for="descripcion" class="text-danger small"></span>

                    </div>

                    <input type="submit" class="btn btn-login w-100 fs-6 mt-4 mb-4" value="Enviar reconocimiento"/>
    

                </form>
            </div>

        </div>

        <div class="col">
            @for (int i = 0; i < Model.ListaReconocimientos.Count; i++)
                {
                    var reconocimiento = Model.ListaReconocimientos[i];
                    
                    <div class="div-whitebox border rounded-5 shadow row mb-3 mt-4">
                        <div class="row mb-4 pt-2">
                            <h5>De: @reconocimiento.nombre_remitiente @reconocimiento.apellido_remitiente</h5>
                        </div>
                        <div class="row mb-2 d-flex align-items-center">
                            <div class="col-3">
                                @if(@reconocimiento.tipo == "Excelencia")
                                    {
                                        <img src="~/images/r_logo/excelencia.png" alt="Excelencia" width="100"/>
                                    }
                                @if(@reconocimiento.tipo == "Trabajo en Equipo")
                                    {
                                        <img src="~/images/r_logo/trabajoenequipo.png" alt="Trabajo en Equipo" width="100"/>
                                    }
                                @if(@reconocimiento.tipo == "Compromiso")
                                    {
                                        <img src="~/images/r_logo/compromiso.png" alt="Compromiso" width="100"/>
                                    }
                                @if(@reconocimiento.tipo == "Responsabilidad")
                                    {
                                        <img src="~/images/r_logo/responsabilidad.png" alt="Responsabilidad" width="100"/>
                                    }
                            </div>
                            <div class="col-9">
                                <p class="texto-desc">@reconocimiento.descripcion</p>
                            </div>
                        </div>
                        <div class="row align-items-end">
                            <p class="texto-fecha">@reconocimiento.fecha</p>    
                        </div>
                    </div>
                }
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    @if (Model.ReconocimientoEnviado)
    {
        <script>
            alert("¡Tu reconocimiento se ha enviado con éxito!");
        </script>
    }

}