@page
@using System.Text.Json
@using OXXOMania.Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model VistaAsesorModel
@{
    ViewData["Title"] = "VistaAsesor";
    Layout = "_Layout";

    var jsonUsr = HttpContextAccessor.HttpContext.Session.GetString("Usr");
    Usuario usr = !string.IsNullOrEmpty(jsonUsr) ? JsonSerializer.Deserialize<Usuario>(jsonUsr) : null;

    string avatarHead = "~/images/objetos/f_1.png"; 
    var headOptions = new Dictionary<int, string>()
    {
        {6, "~/images/objetos/f_1.png"},
        {7, "~/images/objetos/f_2.png"},
        {8, "~/images/objetos/f_3.png"},
        {9, "~/images/objetos/f_4.png"}
    };

    string link = $"https://lookerstudio.google.com/embed/u/0/reporting/389a889c-cf79-4e5f-a2d2-0f52821a9f98/page/YzpLF?params=%7B%22asesor_param%22:{usr.id_usuario}%7D";
    string link2 = $"https://lookerstudio.google.com/embed/reporting/812b1d47-f541-49ab-8853-9a69609edf12/page/YzpLF?params=%7B%22asesor_param%22:{usr.id_usuario}%7D";
}

<script>
    let lookerLink = "@link";
    console.log("print: ", lookerLink);
</script>


<div class="content-wrapper" style="padding-left: 250px; padding-bottom: 100px; padding-top: 50px"> 
<section class="dashboard-top-sec mx-auto" style="padding-bo: 20px;">
    <div class="row justify-content-center gx-4 gy-3"> 
        <div class="col-lg-7">
            <div class="top-chart-ganancia">
                <div class="row gx-0">
                    <div class="col-sm-4 my-2">
                        <div class="puntajes">
                            <h5 class="Puntajes-title" style="font-size: 30px; font-weight: 800; text-align: center;">Puntajes: </h5></br>
                            <p>Monedas y Puntos SPIN</p>
                        </div>
                    </div>
                    <div class="col-sm-8 my-2">
                        <div class="widget-content">
                            <iframe style="width: 90%; height: 300px; border: 0;" 
                                src="@Html.Raw(link)"
                                frameborder="0" allowfullscreen
                                sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
                            </iframe>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="top-chart-earn">
                <div class="aportaciones text-center">
                    <h5 class="aportaciones-title" style="font-size: 30px; font-weight: 800; text-align: center;">Aportaciones: </h5></br>
                    <div id="chart-2" class="widget-content">
                        <iframe width="300" height="250" 
                            src="@Html.Raw(link2)" 
                            frameborder="0" style="border:0" 
                            allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
                        </iframe>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>


    <div class="lider-list mx-auto" style="padding: 20px; width: 90%;">
        <h5 class="lider-title" style="font-size: 30px; font-weight: 800; text-align: center;">Tus Lideres: </h5></br>
            <table class="table w-100">
                <thead class="thead-light">
                    <tr class="table-header">
                        <th></th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Sucursal</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < Model.listaLideres.Count; i++)
                    {
                        var usuario = Model.listaLideres[i];
                            string avatarPath = Url.Content(headOptions[usuario.foto]);

                            <tr class="table-text" data-id="@usuario.id_usuario" style="cursor:pointer;">
                             <td>
                                <img src="@avatarPath" height="70px" style="margin-top: 30px;" />
                             </td>
                                <td class="align-middle">@usuario.nombre</td>
                                <td class="align-middle">@usuario.apellido</td>
                                <td class="align-middle">@usuario.sucursal</td>
                                <td class="align-middle">
                                    <form method="post" asp-page-handler="VerDetalle">
                                        <input type="hidden" name="id_usuario" value="@usuario.id_usuario" />
                                            <button type="submit" class="btn btn-primary lider-button" value="@usuario.id_usuario" style="color: rgb(0, 0, 0); background-color: rgb(236, 236, 95); border-color: rgb(236, 236, 95);">
                                            Filtrar Empleados
                                            </button>
                                    </form>
                                </td>
                                </tr>
                    }
                </tbody>
            </table>
        </div>

    <div class="horarios-container mx-auto" style="padding: 20px; width: 90%;">
        <h5 class="horarios-title" style="font-size: 30px; font-weight: 800; text-align: center;">Horarios de Empleados: </h5></br>
        <table class="table w-100">
            <thead>
                <tr>
                    <th scope="col">Líder</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Horario Entrada</th>
                    <th scope="col">Horario Salida</th>
                    <th scope="col">Días</th>
                </tr>
            </thead>
                <tbody>
                    @if (Model.listaEmpleados != null && Model.listaEmpleados.Count > 0)
                    {
                        @for (int i = 0; i < Model.listaEmpleados.Count; i++)
                        {
                          var empleado = Model.listaEmpleados[i];
                          <tr>
                            <td class="align-middle">@empleado.nombre_lider</td>
                            <td class="align-middle">@empleado.nombre_empleado</td>
                            <td class="align-middle">@empleado.apellido_empleado</td>
                            <td class="align-middle">@empleado.horario_entrada</td>
                            <td class="align-middle">@empleado.horario_salida</td>
                            <td class="align-middle">@empleado.dias_trabajo</td>
                         </tr>
                        }
                    }
                        else
                        {
                            <tr>
                                <td colspan="6" class="text-center">No hay empleados para mostrar</td>
                            </tr>
                        }
                </tbody>
        </table>
    </div>
</div>