@page
@using System.Text.Json
@using OXXOMania.Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model VistaAsesorModel
@{
    ViewData["Title"] = "VistaAsesor";
    Layout = "_Layout";

    var jsonUsr = HttpContextAccessor.HttpContext?.Session.GetString("Usr");
    Usuario usr = !string.IsNullOrEmpty(jsonUsr) ? JsonSerializer.Deserialize<Usuario>(jsonUsr) : null;

    string avatarHead = "~/images/objetos/f_1.png"; 
    var headOptions = new Dictionary<int, string>()
    {
        {6, "~/images/objetos/f_1.png"},
        {7, "~/images/objetos/f_2.png"},
        {8, "~/images/objetos/f_3.png"},
        {9, "~/images/objetos/f_4.png"}
    };

    string link = $"https://lookerstudio.google.com/embed/reporting/ac0a8ca0-158a-45a9-8a8b-778f0192fe22/page/b3aNF?params=%7B%22asesor_param%22:{usr?.id_usuario}%7D";
}

<script>
    let lookerLink = "@link";
    console.log("print: ", lookerLink);
</script>

<div class="content-wrapper" style="padding-left: 250px; padding-bottom: 100px; padding-top: 50px"> 

    <div class="puntos-container mx-auto" style="padding: 20px; width: 90%;">
        <iframe width="100%" height="250" 
                src="@Html.Raw(link)" 
                frameborder="0" style="border:0" 
                allowfullscreen 
                sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
        </iframe>           
    </div>

    <!-- Tabla de líderes -->
    <div class="lider-list mx-auto" style="padding: 20px; width: 90%;">
        <h5 class="lider-title" style="font-size: 30px; font-weight: 800; text-align: center;">Tus Líderes: </h5><br />
        <table class="table w-100">
            <thead class="thead-light">
                <tr class="table-header">
                    <th></th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Sucursal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @try
                {
                    if (Model.listaLideres != null && Model.listaLideres.Count > 0)
                    {
                        foreach (var usuario in Model.listaLideres)
                        {
                            string avatarPath = Url.Content(headOptions.ContainsKey(usuario.foto) ? headOptions[usuario.foto] : avatarHead);
                            <tr class="table-text" data-id="@usuario.id_usuario" style="cursor:pointer;">
                                <td><img src="@avatarPath" height="70px" style="margin-top: 30px;" /></td>
                                <td class="align-middle">@usuario.nombre</td>
                                <td class="align-middle">@usuario.apellido</td>
                                <td class="align-middle">@usuario.sucursal</td>
                                <td class="align-middle">
                                    <form method="post" asp-page-handler="VerDetalle">
                                        <input type="hidden" name="id_usuario" value="@usuario.id_usuario" />
                                        <button type="submit" class="btn btn-primary lider-button" style="color: rgb(0, 0, 0); background-color: rgb(247, 214, 108); border-color: rgb(247, 214, 108);">
                                            Filtrar Empleados
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="5" class="text-center">No hay líderes disponibles</td></tr>
                    }
                }
                catch (Exception ex)
                {
                    <tr>
                        <td colspan="5" class="text-danger text-center">No hay líderes disponibles @ex.Message</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Tabla de empleados -->
    <div class="horarios-container mx-auto" style="padding: 20px; width: 90%;">
        <h5 class="horarios-title" style="font-size: 30px; font-weight: 800; text-align: center;">Horarios de Empleados: </h5><br />
        <table class="table w-100">
            <thead>
                <tr>
                    <th scope="col">Líder</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Horario Entrada</th>
                    <th scope="col">Horario Salida</th>
                    <th scope="col">Días</th>
                </tr>
            </thead>
            <tbody>
                @try
                {
                    if (Model.listaEmpleados != null && Model.listaEmpleados.Count > 0)
                    {
                        foreach (var empleado in Model.listaEmpleados)
                        {
                            <tr>
                                <td class="align-middle">@empleado.nombre_lider</td>
                                <td class="align-middle">@empleado.nombre_empleado</td>
                                <td class="align-middle">@empleado.apellido_empleado</td>
                                <td class="align-middle">@empleado.horario_entrada</td>
                                <td class="align-middle">@empleado.horario_salida</td>
                                <td class="align-middle">@empleado.dias_trabajo</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="6" class="text-center">No hay empleados para mostrar</td></tr>
                    }
                }
                catch (Exception ex)
                {
                    <tr>
                        <td colspan="6" class="text-danger text-center">No hay empleados para mostrar @ex.Message</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
