@page
@using System.Text.Json
@using OXXOMania.Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model VistaAsesorModel
@{
    ViewData["Title"] = "VistaAsesor";
    Layout = "_Layout";

    var jsonUsr = HttpContextAccessor.HttpContext.Session.GetString("Usr");
    Usuario usr = !string.IsNullOrEmpty(jsonUsr) ? JsonSerializer.Deserialize<Usuario>(jsonUsr) : null;

    string avatarHead = "~/images/objetos/f_1.png"; // Default
    var headOptions = new Dictionary<int, string>()
    {
        {6, "~/images/objetos/f_1.png"},
        {7, "~/images/objetos/f_2.png"},
        {8, "~/images/objetos/f_3.png"},
        {9, "~/images/objetos/f_4.png"}
    };
}

<div class="content-wrapper" style="padding-left: 240px;">
    <section class="dashboard-top-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-white top-chart-earn">
                        <div class="row">
                            <div class="col-sm-4 my-2 pe-0">
                                <div class="last-month">
                                    <h5>Dashboard</h5>
                                    <p>Ganancias del Mes pasado</p>
                                    <div class="ganancia">
                                        <h2>$510,327,112.28</h2> </br>
                                        <p>Ganancias de Este Mes</p>
                                        <h2>$243,938,173.69</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-8 my-2 ps-0">
                                <div class="widget-content">
                                    <iframe width="400" height="300" src="https://lookerstudio.google.com/embed/reporting/389a889c-cf79-4e5f-a2d2-0f52821a9f98/page/YzpLF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bg-white-top-chart-earn">
                        <div class="aportaciones">
                            <div class="aportaciones-title">
                                <h5>Aportaciones</h5>
                            </div>
                            <div id="chart-2">
                                <div class="widget-content">
                                    <iframe width="380" height="280" src="https://lookerstudio.google.com/embed/reporting/812b1d47-f541-49ab-8853-9a69609edf12/page/YzpLF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dashboard-bottom-sec">
        <div class="tus-lideres my-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="lider-list">
                            <h5 class="lider-sc-title">tus lideres: </h5>
                            <table class="text-center">
                                <thead class="thead-light">
                                    <tr class="table-header">
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Sucursal</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.listaLideres.Count; i++)
                                    {
                                        var usuario = Model.listaLideres[i];
                                        string avatarPath = Url.Content(headOptions[usuario.foto]);

                                        <tr class="table-text" data-id="@usuario.id_usuario" style="cursor:pointer;">
                                            <td>
                                                <img src="@avatarPath" height="70px" style="margin-top: 30px;" />
                                            </td>
                                            <td class="align-middle">@usuario.nombre</td>
                                            <td class="align-middle">@usuario.apellido</td>
                                            <td class="align-middle">@usuario.sucursal</td>
                                            <td class="align-middle">
                                                <form method="post" asp-page-handler="VerDetalle">
                                                    <input type="hidden" name="id_usuario" value="@usuario.id_usuario" />
                                                    <button type="submit" class="btn btn-primary lider-button" value="@usuario.id_usuario">
                                                        Ver Detalle
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Líder</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Horario Entrada</th>
                                    <th scope="col">Horario Salida</th>
                                    <th scope="col">Días</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.listaEmpleados != null && Model.listaEmpleados.Count > 0)
                                {
                                    @for (int i = 0; i < Model.listaEmpleados.Count; i++)
                                    {
                                        var empleado = Model.listaEmpleados[i];
                                        <tr>
                                            <td class="align-middle">@empleado.nombre_lider</td>
                                            <td class="align-middle">@empleado.nombre_empleado</td>
                                            <td class="align-middle">@empleado.apellido_empleado</td>
                                            <td class="align-middle">@empleado.horario_entrada</td>
                                            <td class="align-middle">@empleado.horario_salida</td>
                                            <td class="align-middle">@empleado.dias_trabajo</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" class="text-center">No hay empleados para mostrar</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        document.querySelectorAll('.lider-button').forEach(button => {
            button.addEventListener('click', function () {
                const selectedId = this.value;
                console.log("Selected id_lider:", selectedId);
                // Aquí puedes hacer una llamada fetch o AJAX si necesitas
            });
        });
    </script>
}
